

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialQuery</title>
    <link rel="stylesheet" href="/styles/layout.css">
    <script src="script.js"></script>

</head>
<body>
  <%- include("partials/header.ejs") %>
    </div>
    <div class="container" style="height: 450px;">
        <h1>Welcome to SocialQuery</h1>
        <h2>Select Your Social Media Platform</h2>
        <p>Choose a social media platform to manage your interactions and analytics.</p>
        <div class="social-icons" style="display: flex; gap: 15px; justify-content: center; margin-top: 20px;">
          <a href="#" class="social-btn">Twitter</a>
          <a href="./facebook.html" class="social-btn">Facebook</a>
          <a href="./instagram" class="social-btn">Instagram</a>
          <a href="#" class="social-btn">LinkedIn</a>
        </div>
        
    </div>
    
    <%- include('partials/footer') %>
</body>
</html>